# This is a basic workflow to help you get started with Actions

name: CI Builds

# Controls when the workflow will run
on:
  push:
    branches: [ "testing" ]
  pull_request:
    branches: [ "main" ]
    types: 
      - opened
      - synchronize
      - reopened
      - ready_for_review
      - closed

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  enforce-ticket:
    if: (github.event.action == 'opened' || github.event.action == 'ready_for_review') && github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    steps:
      - name: Enforce Ticket
        run: echo "Executes enforce-ticket workflow on ticket open"
          
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    outputs:
      test: ${{ steps.world.outputs.test }}

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      - name: Dump GitHub context
        id: github_context_step
        run: echo $JSON
        env:
          JSON: ${{ toJSON(github) }}

      - name: Create Ticket
        if: "!startsWith(github.event.pull_request.title, 'JIRA')"
        id: create
        run: |
          echo "issue=JIRA-123" >> $GITHUB_OUTPUT

      - name: Add Label to PR when ticket created
        if: steps.create.outputs.exit_code == 0
        uses: actions/github-script@v6
        with:
          script: |
            github.rest.issues.addLabels({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: context.payload.pull_request.number,
              labels: ["Ticket Auto Created"]
            });

      - name: Print Ticket
        if: steps.create.outputs.exit_code == 0
        run: |
          echo "Ticket ${{ steps.create.outputs.issue }} was created"

      - name: Update Pull Request Title
        if: steps.create.outputs.exit_code == 0
        uses: actions/github-script@v6
        with:
          script: |
            github.rest.pulls.update({
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: context.payload.pull_request.number,
              title: "${{ steps.create.outputs.issue }}: " + context.payload.pull_request.title
            });

      - name: Only run on merge
        if: github.event.pull_request.merged == true
        run: echo "This is a merged action run!"

  close-ticket:
    if: github.event.action == 'closed' && github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - name: Close Ticket
        if: "${{ contains(github.event.pull_request.labels.*.name, 'Ticket Auto Created') }}"
        run: echo "Executes close-ticket workflow on ticket merge and when 'Ticket Auto Created' label found on PR."

  #deploy:
  #  runs-on: ubuntu-latest
  #  needs: build
  #  steps:
  #    - uses: actions/checkout@v3

  #    - name: Run a one-line script
  #      run: echo ${{ needs.build.outputs.test }}