# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  #push:
  #  branches: [ "testing" ]
  pull_request:
    branches: [ "main" ]
    types: 
      - opened
      - synchronize
      - reopened
      - closed

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    outputs:
      test: ${{ steps.world.outputs.test }}

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      - name: Dump GitHub context
        id: github_context_step
        run: echo $JSON
        env:
          JSON: ${{ toJSON(github) }}

      - name: Set Output
        id: world
        run: |
          echo "issue=JIRA-123" >> $GITHUB_OUTPUT

      - name: Update Pull Request Title
        uses: actions/github-script@v6
        with:
          script: |
            console.log(context)

            //github.rest.pulls.update({
            //  owner: context.repo.owner,
            //  repo: context.repo.repo,
            //  pull_number: context.payload.pull_request.number
            //  title: "${{ steps.world.outputs.issue }}: " + context.payload.pull_request.title
            //});

      - name: Only run on merge
        if: github.event.pull_request.merged == true
        run: echo "This is a merged action run!"


  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v3

      - name: Run a one-line script
        run: echo ${{ needs.build.outputs.test }}